<head>
<title>The Gossip Project</title>
</head>
<h1>Bienvenue sur The Gossip Project!</h1>
<br/>
<h2>Voici les potins !</h2>
<% Gossip.all.each_with_index do |gossip, index| %>
<p>
  <h3> Gossip <%= index + 1 %></h3>
  <b>Auteur : </b></br>
  <%= gossip.user.name %></br>
  </br><b>Gossip : </b></br>
  <%= gossip.content %></br>
  </br>
</p>
<% end %>
