<head>
<title>The Gossip Project</title>
</head>
<h4><%= Gossip.find(params[:gossip_id]).title %></h4>
<p>"
  <%= Gossip.find(params[:gossip_id]).content %>
  "
  <br>
  Auteur :
  <br><br>
  <%= Gossip.find(params[:gossip_id]).date.strftime("Créé le %d/%m/%Y") %>
</p>