<head>
<title>The Gossip Project</title>
</head>
<br/>
<h1><b> !! 404 Error !!</b></h1>
<br/>
<%= image_tag('troll_face.jpg', width: '30%', height: '30%') %><br/>
<h3><b>#<%= params[:name]%>hasbeentrolled</b></h3>
