<head>
<title>The Gossip Project</title>
</head>
<center>
	<body>
		<div class="card" style="width: 40%; padding: 5%; margin-top:2rem" >
			<h5><%= link_to "Victor Fouquet :", contact_path%></h5>
  				Moussaillon de THP à Marseille,<br>
  				More content to come soon!
		</div>
	</body>
</center>