<head>
<title>The Gossip Project</title>
</head>
	<center>
	<br>
	<h4><%= @user.first_name + " " + @user.last_name %></h4>
		<p>
			<%= @user.description %>
			<br><br>
			Email : <%= @user.email %>
		</p>
	</center>