<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<center>	
		<div class="card" style="width: 40%; padding: 5%; margin-top: 2rem">
			<h3>Contact</h3>
				<p>
					Email : victor.fouquet@gmail.com<br>
					Téléphone : 06.64.30.14.32<br>
					<i class="fab fa-instagram"></i>
					<a href="https://www.instagram.com/victor.fouquet.artist/">victor.fouquet.artist</a> (peintures et illustrations!)
	</p>
</center>
</body>
</html>
