<center>
<br>	
<h4>Contact</h4>
<p>
	Email : victor.fouquet@gmail.com<br>
	Téléphone : 06.64.30.14.32<br>
	<a href="https://www.instagram.com/victor.fouquet.artist/">Instagram</a> (peintures et illustrations!)
</p>
</center>